.cls1 {
    height: 6.15pt
}

.cls2 {
    width: 388px;
    border: 1pt solid;
    padding: 0cm 5.4pt;
    height: 6.15pt;
    text-align: center
}

.cls3 {
    font-size: 8pt;
    font-family: 'Arial', sans-serif
}

.cls4 {
    font-size: 10pt;
    font-family: 'Arial', sans-serif
}

.cls5 {
    width: 36px;
    border: solid 1pt;
    border-left: none;
    padding: 0cm 5.4pt;
    height: 6.15pt
}

.cls6 {
    width: 95px;
    border: solid 1pt;
    border-left: none;
    padding: 0cm 5.4pt;
    height: 6.15pt
}

.cls7 {
    width: 131px;
    border: solid 1pt;
    border-left: none;
    padding: 0cm 5.4pt;
    height: 6.15pt
}

.cls8 {
    width: 66px;
    border: solid 1pt;
    border-left: none;
    padding: 0cm 5.4pt;
    height: 6.15pt
}

.cls9 {
    height: 0.35pt
}

.cls10 {
    width: 328px;
    border-top: none;
    border-left: none;
    border-bottom: solid 1pt;
    border-right: solid 1pt;
    padding: 0cm 5.4pt;
    height: 0.35pt
}

.cls11 {
    width: 538.4pt;
    border-collapse: collapse;
    border: none
}

.cls12 {
    height: 21.9pt
}

.cls13 {
    width: 22.9pt;
    border: solid 1pt;
    padding: 0cm 5.4pt 0cm 5.4pt;
    height: 21.9pt
}

.cls14 {
    width: 249.9pt;
    border-top: solid 1pt;
    border-left: none;
    border-bottom: none;
    border-right: solid 1pt;
    padding: 0cm 5.4pt 0cm 5.4pt;
    height: 21.9pt
}

.cls15 {
    width: 265.6pt;
    border-top: solid 1pt;
    border-left: none;
    border-bottom: none;
    border-right: solid 1pt;
    padding: 0cm 5.4pt 0cm 5.4pt;
    height: 21.9pt
}

.cls16 {
    height: 10.3pt
}

.cls17 {
    width: 249.9pt;
    border-top: none;
    border-left: none;
    border-bottom: solid 1pt;
    border-right: solid 1pt;
    padding: 0cm 5.4pt 0cm 5.4pt;
    height: 10.3pt
}

.cls18 {
    font-size: 7pt;
    font-family: 'Arial', sans-serif
}

.cls19 {
    width: 265.6pt;
    border-top: none;
    border-left: none;
    border-bottom: solid 1pt;
    border-right: solid 1pt;
    padding: 0cm 5.4pt 0cm 5.4pt;
    height: 10.3pt
}

.cls20 {
    height: 19.65pt
}

.cls21 {
    width: 22.2pt;
    border: solid 1pt;
    padding: 0cm 5.4pt 0cm 5.4pt;
    height: 19.65pt
}

.cls22 {
    width: 196.55pt;
    border: solid 1pt;
    border-left: none;
    padding: 0cm 5.4pt 0cm 5.4pt;
    height: 19.65pt
}

.cls23 {
    width: 54.6pt;
    border: solid 1pt;
    border-left: none;
    padding: 0cm 5.4pt 0cm 5.4pt;
    height: 19.65pt
}

.cls24 {
    width: 119.3pt;
    border: solid 1pt;
    border-left: none;
    padding: 0cm 5.4pt 0cm 5.4pt;
    height: 19.65pt
}

.cls25 {
    width: 145.75pt;
    border: solid 1pt;
    border-left: none;
    padding: 0cm 5.4pt 0cm 5.4pt;
    height: 19.65pt
}

.cls26 {
    height: 13.5pt
}

.cls27 {
    width: 196.55pt;
    border-top: none;
    border-left: none;
    border-bottom: solid 1pt;
    border-right: solid 1pt;
    padding: 0cm 5.4pt 0cm 5.4pt;
    height: 13.5pt
}

.cls28 {
    width: 173.9pt;
    border-top: none;
    border-left: none;
    border-bottom: solid 1pt;
    border-right: solid 1pt;
    padding: 0cm 5.4pt 0cm 5.4pt;
    height: 13.5pt
}

.cls29 {
    width: 145.75pt;
    border-top: none;
    border-left: none;
    border-bottom: solid 1pt;
    border-right: solid 1pt;
    padding: 0cm 5.4pt 0cm 5.4pt;
    height: 13.5pt
}

.cls30 {
    font-size: 9pt;
    font-family: 'Arial', sans-serif
}

.cls31 {
    width: 539.3pt;
    margin-left: -0.25pt;
    border-collapse: collapse;
    border: none
}

.cls32 {
    height: 12.55pt
}

.cls33 {
    width: 22.5pt;
    border: solid 1pt;
    padding: 0cm 5.4pt 0cm 5.4pt;
    height: 12.55pt
}

.cls34 {
    width: 248.6pt;
    border: solid 1pt;
    border-left: none;
    padding: 0cm 5.4pt 0cm 5.4pt;
    height: 12.55pt
}

.cls35 {
    width: 188.15pt;
    border: solid 1pt;
    border-left: none;
    padding: 0cm 5.4pt 0cm 5.4pt;
    height: 12.55pt
}

.cls36 {
    width: 80pt;
    border: solid 1pt;
    border-left: none;
    padding: 0cm 5.4pt 0cm 5.4pt;
    height: 12.55pt
}

.cls37 {
    height: 12.55pt;
    border: none
}

.cls38 {
    height: 14.35pt
}

.cls39 {
    width: 248.6pt;
    border-top: none;
    border-left: none;
    border-bottom: solid 1pt;
    border-right: solid 1pt;
    padding: 0cm 5.4pt 0cm 5.4pt;
    height: 14.35pt
}

.cls40 {
    width: 148.85pt;
    border-top: none;
    border-left: none;
    border-bottom: solid 1pt;
    border-right: solid 1pt;
    padding: 0cm 5.4pt 0cm 5.4pt;
    height: 14.35pt
}

.cls41 {
    width: 119.3pt;
    border-top: none;
    border-left: none;
    border-bottom: solid 1pt;
    border-right: solid 1pt;
    padding: 0cm 5.4pt 0cm 5.4pt;
    height: 14.35pt
}

.cls42 {
    height: 14.35pt;
    border: none
}

.cls43 {
    height: 22.2pt
}

.cls44 {
    width: 248.6pt;
    border-top: none;
    border-left: none;
    border-bottom: solid 1pt;
    border-right: solid 1pt;
    padding: 0cm 5.4pt 0cm 5.4pt;
    height: 22.2pt
}

.cls45 {
    width: 268.2pt;
    border: none;
    border-right: solid 1pt;
    padding: 0cm 5.4pt 0cm 5.4pt;
    height: 22.2pt
}

.cls46 {
    height: 22.2pt;
    border: none
}

.cls47 {
    height: 11.5pt
}

.cls48 {
    width: 248.6pt;
    border-top: none;
    border-left: none;
    border-bottom: solid 1pt;
    border-right: solid 1pt;
    padding: 0cm 5.4pt 0cm 5.4pt;
    height: 11.5pt
}

.cls49 {
    height: 11.5pt;
    border: none
}

.cls50 {
    height: 10.75pt
}

.cls51 {
    width: 268.2pt;
    border-top: none;
    border-left: none;
    border-bottom: solid 1pt;
    border-right: solid 1pt;
    padding: 0cm 5.4pt 0cm 5.4pt;
    height: 10.75pt
}

.cls52 {
    height: 10.75pt;
    border: none
}

.cls53 {
    width: 268.2pt;
    border: none;
    border-right: solid 1pt;
    padding: 0cm 5.4pt 0cm 5.4pt;
    height: 11.5pt
}

.cls54 {
    height: 11.45pt
}

.cls55 {
    width: 248.6pt;
    border-top: none;
    border-left: none;
    border-bottom: solid 1pt;
    border-right: solid 1pt;
    padding: 0cm 5.4pt 0cm 5.4pt;
    height: 11.45pt
}

.cls56 {
    height: 11.45pt;
    border: none
}

.cls57 {
    width: 154.05pt;
    border: none;
    border-bottom: solid 1pt;
    padding: 0cm 5.4pt 0cm 5.4pt;
    height: 11.45pt
}

.cls58 {
    width: 114.1pt;
    border-top: none;
    border-left: none;
    border-bottom: solid 1pt;
    border-right: solid 1pt;
    padding: 0cm 5.4pt 0cm 5.4pt;
    height: 11.45pt
}

.cls59 {
    border: none
}

.cls60 {
    height: 13.15pt
}

.cls61 {
    width: 22.2pt;
    border: solid 1pt;
    padding: 0cm 5.4pt 0cm 5.4pt;
    height: 13.15pt
}

.cls62 {
    width: 240.55pt;
    border: solid 1pt;
    border-left: none;
    padding: 0cm 5.4pt 0cm 5.4pt;
    height: 13.15pt
}

.cls63 {
    width: 182.25pt;
    border: solid 1pt;
    border-left: none;
    padding: 0cm 5.4pt 0cm 5.4pt;
    height: 13.15pt
}

.cls64 {
    width: 93.4pt;
    border: solid 1pt;
    border-left: none;
    padding: 0cm 5.4pt 0cm 5.4pt;
    height: 13.15pt
}

.cls65 {
    height: 13.15pt;
    border: none
}

.cls66 {
    height: 15pt
}

.cls67 {
    width: 240.55pt;
    border-top: none;
    border-left: none;
    border-bottom: solid 1pt;
    border-right: solid 1pt;
    padding: 0cm 5.4pt 0cm 5.4pt;
    height: 15pt
}

.cls68 {
    width: 144.25pt;
    border-top: none;
    border-left: none;
    border-bottom: solid 1pt;
    border-right: solid 1pt;
    padding: 0cm 5.4pt 0cm 5.4pt;
    height: 15pt
}

.cls69 {
    width: 131.4pt;
    border-top: none;
    border-left: none;
    border-bottom: solid 1pt;
    border-right: solid 1pt;
    padding: 0cm 5.4pt 0cm 5.4pt;
    height: 15pt
}

.cls70 {
    height: 15pt;
    border: none
}

.cls71 {
    width: 240.55pt;
    border-top: none;
    border-left: none;
    border-bottom: solid 1pt;
    border-right: solid 1pt;
    padding: 0cm 5.4pt 0cm 5.4pt
}

.cls72 {
    width: 275.65pt;
    border: none;
    border-right: solid 1pt;
    padding: 0cm 5.4pt 0cm 5.4pt
}

.cls73 {
    height: 12pt
}

.cls74 {
    width: 240.55pt;
    border-top: none;
    border-left: none;
    border-bottom: solid 1pt;
    border-right: solid 1pt;
    padding: 0cm 5.4pt 0cm 5.4pt;
    height: 12pt
}

.cls75 {
    height: 12pt;
    border: none
}

.cls76 {
    height: 11.25pt
}

.cls77 {
    width: 275.65pt;
    border-top: none;
    border-left: none;
    border-bottom: solid 1pt;
    border-right: solid 1pt;
    padding: 0cm 5.4pt 0cm 5.4pt;
    height: 11.25pt
}

.cls78 {
    height: 11.25pt;
    border: none
}

.cls79 {
    width: 275.65pt;
    border: none;
    border-right: solid 1pt;
    padding: 0cm 5.4pt 0cm 5.4pt;
    height: 12pt
}

.cls80 {
    width: 149.35pt;
    border: none;
    border-bottom: solid 1pt;
    padding: 0cm 5.4pt 0cm 5.4pt
}

.cls81 {
    width: 126.3pt;
    border-top: none;
    border-left: none;
    border-bottom: solid 1pt;
    border-right: solid 1pt;
    padding: 0cm 5.4pt 0cm 5.4pt
}

.cls82 {
    width: 22.15pt;
    border: solid 1pt;
    padding: 0cm 5.4pt 0cm 5.4pt;
    height: 13.15pt
}

.cls83 {
    width: 240.6pt;
    border: solid 1pt;
    border-left: none;
    padding: 0cm 5.4pt 0cm 5.4pt;
    height: 13.15pt
}

.cls84 {
    width: 181.95pt;
    border: solid 1pt;
    border-left: none;
    padding: 0cm 5.4pt 0cm 5.4pt;
    height: 13.15pt
}

.cls85 {
    width: 93.7pt;
    border: solid 1pt;
    border-left: none;
    padding: 0cm 5.4pt 0cm 5.4pt;
    height: 13.15pt
}

.cls86 {
    width: 240.6pt;
    border-top: none;
    border-left: none;
    border-bottom: solid 1pt;
    border-right: solid 1pt;
    padding: 0cm 5.4pt 0cm 5.4pt;
    height: 15pt
}

.cls87 {
    width: 144.35pt;
    border-top: none;
    border-left: none;
    border-bottom: solid 1pt;
    border-right: solid 1pt;
    padding: 0cm 5.4pt 0cm 5.4pt;
    height: 15pt
}

.cls88 {
    width: 131.3pt;
    border-top: none;
    border-left: none;
    border-bottom: solid 1pt;
    border-right: solid 1pt;
    padding: 0cm 5.4pt 0cm 5.4pt;
    height: 15pt
}

.cls89 {
    width: 240.6pt;
    border-top: none;
    border-left: none;
    border-bottom: solid 1pt;
    border-right: solid 1pt;
    padding: 0cm 5.4pt 0cm 5.4pt
}

.cls90 {
    width: 240.6pt;
    border-top: none;
    border-left: none;
    border-bottom: solid 1pt;
    border-right: solid 1pt;
    padding: 0cm 5.4pt 0cm 5.4pt;
    height: 12pt
}

.cls91 {
    height: 21.4pt
}

.cls92 {
    width: 22.2pt;
    border: solid 1pt;
    padding: 0cm 5.4pt 0cm 5.4pt;
    height: 21.4pt
}

.cls93 {
    width: 240.95pt;
    border: solid 1pt;
    border-left: none;
    padding: 0cm 5.4pt 0cm 5.4pt;
    height: 21.4pt
}

.cls94 {
    width: 275.25pt;
    border: solid 1pt;
    border-left: none;
    padding: 0cm 5.4pt 0cm 5.4pt;
    height: 21.4pt
}

.cls95 {
    height: 22.45pt
}

.cls96 {
    width: 240.95pt;
    border-top: none;
    border-left: none;
    border-bottom: solid 1pt;
    border-right: solid 1pt;
    padding: 0cm 5.4pt 0cm 5.4pt;
    height: 22.45pt
}

.cls97 {
    width: 275.25pt;
    border-top: none;
    border-left: none;
    border-bottom: solid 1pt;
    border-right: solid 1pt;
    padding: 0cm 5.4pt 0cm 5.4pt;
    height: 22.45pt
}

.cls98 {
    height: 23.95pt
}

.cls99 {
    width: 240.95pt;
    border-top: none;
    border-left: none;
    border-bottom: solid 1pt;
    border-right: solid 1pt;
    padding: 0cm 5.4pt 0cm 5.4pt;
    height: 23.95pt
}

.cls100 {
    width: 275.25pt;
    border-top: none;
    border-left: none;
    border-bottom: solid 1pt;
    border-right: solid 1pt;
    padding: 0cm 5.4pt 0cm 5.4pt;
    height: 23.95pt
}

.cls101 {
    width: 538.1pt;
    border-collapse: collapse;
    border: none
}

.cls102 {
    height: 9.25pt
}

.cls103 {
    width: 22.35pt;
    border: solid 1pt;
    padding: 0cm 5.4pt 0cm 5.4pt;
    height: 9.25pt
}
.cls105 {
    width: 515.75pt;
    border: solid 1pt;
    border-left: none;
    padding: 0cm 5.4pt 0cm 5.4pt;
    height: 9.25pt
}

.cls106 {
    height: 13.05pt
}

.cls107 {
    width: 243.85pt;
    border-top: none;
    border-left: none;
    border-bottom: solid 1pt;
    border-right: solid 1pt;
    padding: 0cm 5.4pt 0cm 5.4pt;
    height: 13.05pt
}

.cls108 {
    width: 271.9pt;
    border-top: none;
    border-left: none;
    border-bottom: solid 1pt;
    border-right: solid 1pt;
    padding: 0cm 5.4pt 0cm 5.4pt;
    height: 13.05pt
}

.cls109 {
    height: 9.9pt
}

.cls110 {
    width: 243.85pt;
    border: none;
    border-bottom: solid 1pt;
    padding: 0cm 5.4pt 0cm 5.4pt;
    height: 9.9pt
}

.cls111 {
    width: 271.9pt;
    border: solid 1pt;
    border-top: none;
    padding: 0cm 5.4pt 0cm 5.4pt;
    height: 9.9pt
}

.cls112 {
    width: 515.75pt;
    border-top: none;
    border-left: none;
    border-bottom: solid 1pt;
    border-right: solid 1pt;
    padding: 0cm 5.4pt 0cm 5.4pt;
    height: 9.9pt
}

.cls113 {
    width: 530.6pt;
    margin-left: 5.4pt;
    border-collapse: collapse;
    border: none
}

.cls114 {
    height: 11.35pt
}

.cls115 {
    width: 16.75pt;
    border: solid 1pt;
    padding: 0cm 5.4pt 0cm 5.4pt;
    height: 11.35pt
}

.cls116 {
    width: 134.5pt;
    border: solid 1pt;
    border-left: none;
    padding: 0cm 5.4pt 0cm 5.4pt;
    height: 11.35pt
}

.cls117 {
    width: 52.05pt;
    border: solid 1pt;
    border-left: none;
    padding: 0cm 5.4pt 0cm 5.4pt;
    height: 11.35pt
}

.cls118 {
    width: 54.3pt;
    border: solid 1pt;
    border-left: none;
    padding: 0cm 5.4pt 0cm 5.4pt;
    height: 11.35pt
}

.cls119 {
    width: 55.8pt;
    border: solid 1pt;
    border-left: none;
    padding: 0cm 5.4pt 0cm 5.4pt;
    height: 11.35pt
}

.cls120 {
    height: 33.4pt
}

.cls121 {
    width: 16.75pt;
    border: solid 1pt;
    border-top: none;
    padding: 0cm 5.4pt 0cm 5.4pt;
    height: 33.4pt
}

.cls122 {
    width: 134.5pt;
    border-top: none;
    border-left: none;
    border-bottom: solid 1pt;
    border-right: solid 1pt;
    padding: 0cm 5.4pt 0cm 5.4pt;
    height: 33.4pt
}

.cls123 {
    width: 52.05pt;
    border-top: none;
    border-left: none;
    border-bottom: solid 1pt;
    border-right: solid 1pt;
    padding: 0cm 5.4pt 0cm 5.4pt;
    height: 33.4pt
}

.cls124 {
    width: 54.3pt;
    border-top: none;
    border-left: none;
    border-bottom: solid 1pt;
    border-right: solid 1pt;
    padding: 0cm 5.4pt 0cm 5.4pt;
    height: 33.4pt
}

.cls125 {
    width: 55.8pt;
    border-top: none;
    border-left: none;
    border-bottom: solid 1pt;
    border-right: solid 1pt;
    padding: 0cm 5.4pt 0cm 5.4pt;
    height: 33.4pt
}

.cls126 {
    height: 33.45pt
}

.cls127 {
    width: 16.75pt;
    border: solid 1pt;
    border-top: none;
    padding: 0cm 5.4pt 0cm 5.4pt;
    height: 33.45pt
}

.cls128 {
    width: 134.5pt;
    border-top: none;
    border-left: none;
    border-bottom: solid 1pt;
    border-right: solid 1pt;
    padding: 0cm 5.4pt 0cm 5.4pt;
    height: 33.45pt
}

.cls129 {
    width: 52.05pt;
    border-top: none;
    border-left: none;
    border-bottom: solid 1pt;
    border-right: solid 1pt;
    padding: 0cm 5.4pt 0cm 5.4pt;
    height: 33.45pt
}

.cls130 {
    width: 54.3pt;
    border-top: none;
    border-left: none;
    border-bottom: solid 1pt;
    border-right: solid 1pt;
    padding: 0cm 5.4pt 0cm 5.4pt;
    height: 33.45pt
}

.cls131 {
    width: 55.8pt;
    border-top: none;
    border-left: none;
    border-bottom: solid 1pt;
    border-right: solid 1pt;
    padding: 0cm 5.4pt 0cm 5.4pt;
    height: 33.45pt
}

.cls132 {
    margin-right: -1.2pt;
    text-align: justify
}